 <div class="home">
    <div>
        <h1>The Value of Money</h1>
        <h2>Weigh the Pros and Cons</h2>
        <figure>
            <img src="./img/value.jpg" alt="Value of Money">
            <figcaption>Scales</figcaption>
        </figure>
        <p>Aliquam sed posuere turpis. Donec ac odio non magna vehicula auctor et in sapien. Morbi sed sodales metus, eget blandit eros. Maecenas eleifend eleifend tellus. Sed ut egestas lorem, vel volutpat urna. Nunc nisl ligula, rhoncus eu sagittis non, eleifend eget ligula. Nunc dapibus, mauris a laoreet elementum, nibh mi ultrices arcu, et placerat leo eros vel dolor. Nulla facilisi. Mauris auctor, nulla id tincidunt malesuada, diam enim sodales orci, id viverra ipsum lacus ac tortor. Curabitur semper turpis mi, a mattis arcu porttitor vel. Curabitur nec orci at ligula mattis volutpat vitae a tellus. Nam at leo lacus. Suspendisse finibus consectetur placerat. Mauris porttitor facilisis quam, quis rutrum augue convallis in.</p>
    </div>
    <hr>

    <div>
        <h1>GMO Food</h1>
        <h2>Effects on Human Body</h2>
        <figure>
            <img src="./img/food.jpg" alt="GMO Food">
            <figcaption>Cereals</figcaption>
        </figure>
        <p>Pellentesque mattis quis est id semper. Ut ornare, quam a lacinia ultrices, tortor magna maximus ante, in euismod ex dolor nec orci. Etiam rutrum id ex et ultricies. Nulla bibendum massa accumsan tortor tristique interdum. Sed nec quam et dolor eleifend blandit. Vestibulum ornare ipsum ullamcorper ante dignissim, eget iaculis ligula placerat. Etiam vel congue tellus. Proin vitae ante rutrum, porta ex vitae, fermentum ante. Maecenas eget posuere dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie elementum velit eget feugiat. Duis vehicula mollis pellentesque. hendrerit rutrum. Vestibulum justo metus, molestie a maximus a, commodo eu elit.</p>
    </div>
    <hr>
   
    <div>
        <h1>The View of the World in 2100</h1>
        <h2>The New City</h2>
        <figure>
            <img src="./img/2100.jpg" alt="View of 2100">
            <figcaption>New Concept City</figcaption>
        </figure>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend faucibus convallis. Sed nec eros turpis. Nam vitae neque urna. Aliquam nec vehicula sem. Aliquam ac felis aliquam, pretium diam sed, pharetra justo. Phasellus scelerisque dui quis vulputate sollicitudin. Nam dolor mauris, faucibus a scelerisque vel, feugiat varius urna. Morbi neque leo, dapibus eu libero eget, volutpat mattis ipsum. Nulla massa erat, pharetra id magna vitae, gravida tincidunt sem. Curabitur commodo magna ac libero hendrerit rutrum. Vestibulum justo metus, molestie a maximus a, commodo eu elit. Curabitur eget nunc et lorem venenatis ultrices.  </p>
    </div>
</div>