<h3>Portfolio</h3>

<div class="grid-container">
    <figure>
        <img src="./img/value1.jpg">
        <figcaption>Time VS Money</figcaption>
    </figure>
    
    <figure>
        <img src="./img/value2.jpg">
        <figcaption>Money's Value</figcaption>
    </figure>
    
    <figure>
        <img src="./img/food1.jpg">
        <figcaption>Wheat</figcaption>
    </figure>
    
    <figure>
        <img src="./img/food2.jpg">
        <figcaption>Blueberry</figcaption>
    </figure>
    
    <figure>
        <img src="./img/2100_1.jpg">
        <figcaption>Future Car</figcaption>
    </figure>
    
    <figure>
        <img src="./img/2100_2.jpg">
        <figcaption>Everyone Can Wlak On Moon</figcaption>
    </figure>
    
</div>